<h2>{{ 'home.featured-collection.head' | translate }}</h2>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-block" *ngIf="collection.hasSucceeded | async">
        <h4 class="card-title">{{ (collection.payload | async)?.name }}</h4>
        <p class="card-text">{{ (collection.payload | async)?.shortDescription }}</p>
        <a [routerLink]="['/collections/' + (collection.payload | async)?.id]" class="btn btn-primary">{{ 'home.featured-collection.visit' | translate }}</a>
      </div>
      <div class="card-block" *ngIf="collection.isLoading | async">
        <p class="card-text">Loading...</p>
      </div>
    </div>
  </div>
</div>
